@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  margin: 0;
  background-color: rgb(230, 230, 230);
}

h1{
 color: #e6ff99;
 text-shadow: 1px 2px #999;
}

ul {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 10px;
  color:grey;
  font-family: 'Roboto', sans-serif;
}
i{
  color: #e6ff99;
}

li{
  color:  #e6ff99;
  padding: 10px;
  font-size: 20px;
}
.paper{
  background: lightgrey;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}